In [ ]:
print("Hello python")

$$
SETS
$$

In [ ]:
s1=set("Python is on the World")
s2=set([1,2,3,3,3.5,'Python',4,4,5,6])
print(s1)
print(s2)

In [ ]:
s1=set(["Python is on the World"])  #square brackets it considers as one
for i in s1:
    print(i)

In [ ]:
s1=set("Python is on the World")
j=1
for i in s1:
    print(j)
    print(i)
    j+=1

In [ ]:
s1={10,2,3,"Python"}
print(type(s1))
for i in s1:
    print(i)

In [ ]:
s1={6,7,8}

s1.add(9)

for i in range(1,6):
    print(i)

print(s1)

In [ ]:
s1={10,2,3,"Python"}
print(type(s1))
s1.remove(10)
print(s1)


$$$$
$$
DICTIONARIES
$$
$$

In [ ]:
d1={1:100,2:200,3:3,"Phone":7019885903,10.5: "Rate"}
print(d1,d1,"Python",end='**',sep='$')

In [ ]:
d1={1:100,1024:200,"Name": "Python", "Name":"10", 1:400}  #updated value is printed
print(d1)

In [ ]:
d1={1:100, "Email":"keonicsx@gmail.com","List1":[1,2,4]}
print(d1)

In [ ]:
d1={1:100, "Email":"keonicsx@gmail.com","List1":[1,2,4]}
d2={}
d2[1]="First"
print(d2)

In [ ]:
dic={1:'A',2:'B',3:'C'}
print(dic)
del(dic[1])
print(dic)

del(dic)
print(dic)

$$
opertors
$$

In [ ]:
name='Alex'
age=0

if name=="Alex" or name=="John"  and age>=2:
    print("Hello!Welcome")
else:
    print("Good BYe!")

In [ ]:
a=True
b=False
c=False

if True or False and True:
    print("Yes")
else:
    print("No")

In [ ]:
5-2+3  #left to right associativity

2**3**2     #right to left

In [ ]:
#loops nested if
if 100>20:
    if 40>30:
        print("inside nested if")
        if 300>40:
            print("inside nested if 2")
        else:
            print("inside nested else 2")
    else:
        print("inside nested else")

else:
    print("outside else")

In [ ]:
l1=[1,2,3,4,5]     #for loop
for i in l1:
    print(i)

In [ ]:
l1=[1,2,3,4,5]     #for loop
sum=0
for i in l1:
    print(i)
    sum+=i
print(sum)

In [ ]:
list=(range(5))
print(list)

In [ ]:
l1=[10,20,30,40,50,60]

for item in range(0,len(l1),2):
    print(l1[item])



# for item in range(len(l1)):
#     print(l1[item])

In [ ]:
l1=[10,20,30,40,50,60]

for item in range(len(l1)-1,0,-1):
    print(l1[item])

# for item in range(len(l1)-1,0,-1):
#     print(item,l1[item],end='*',sep=' ,')

In [ ]:
mytuple=("apple","banana","cherry")
myit=iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

In [ ]:
l1=[1,2,3,4,5,6]

myIterator=iter(l1)

print(next(myIterator))
print(next(myIterator))
print(next(myIterator))
print(next(myIterator))
print(next(myIterator))
print(next(myIterator))

$$
While Loop
$$

In [ ]:
i=5
while i>0:
    print(i,end=',')
    i-=1

Exit a loop with break

In [ ]:
for i in range(10):
    print(i)
    if i==2:
        break
print("Outside loop")

In [ ]:
while True:                 #INFINITE LOOP [DO NOT EXECUTE]
    print(".")

In [ ]:
i=5
while i>0:
    print("Inside")
    i=i-1
    if(i<3):
        print("Breaking loop")
        break
print("am outside")

Continue

In [ ]:
for i in range(10):
    if i==5 or i==6:
        print("skipped",i)
        continue
    print(i)

Function

In [ ]:
def add(a):
    print("function called a=",a)

add(10)

In [ ]:
def add(a,b):
    print("function called a=",a,b)

add(10,20)

In [ ]:
def add(a,b):
    sum=a+b
    print("sum=",sum)

add(10,20)

In [ ]:
def add(a,b):
    sum=a+b
    return sum

answer =add(10,30)
print("sum=",answer)

In [ ]:
name=['A','B','C','D','E','F','G']
roll_no=[10,8,1,5,2,6,9]

zipped=zip(name,roll_no)
print(zipped)

# print(set(zipped))

# print(dict(zipped))

print(tuple(zipped))

In [ ]:
name=["vinaya","harish","supriya","huli"]
roll_no=[3,5,2,6]

mapped=zip(name,roll_no)

# print(set(mapped))

print(dict(mapped))

$$
sqrt
$$

In [ ]:
#square root
import math

def computer_sqrt(n): 
    result=math.sqrt(n)
    print(result)

computer_sqrt(4)  
computer_sqrt(9) 
computer_sqrt(3)  
computer_sqrt(2)

In [ ]:
import math

def computer_sqrt(n): 
    result=math.sqrt(n)
    return result

ans=computer_sqrt(3)
print(ans)

Enumerate

In [ ]:
l1=['A','B','C']
obj1=enumerate(l1)
print(list(obj1))

In [ ]:
def cube_function(n):
    ans = n*n*n
    return ans
cube_function(2)

lambda function

In [ ]:
var = lambda a: a+10
print(var(2))


def add(a):
    return a+10

print(add(2))

In [ ]:
var = lambda a: a>10
print(var(2))

In [ ]:
calc = lambda num: "Even number" if num%2==0 else "odd number"
print(calc(10))

In [ ]:
var = lambda:10+20   
var()

In [ ]:
var1=lambda n: n*n    #2*2
var2=lambda n: n*n*n    #4*4*4

ans=var1(2)            #ans=4
print(ans)             #print value 4 
print(var2(ans))       #var(4)=4*4*4

def call_func():
    ans = var1(2)+1           #ans=4+1
    result = var2(4)+ans      #result=(4*4*4)+1=69
    print("From User def:",result)
    
call_func()

In [ ]:
string = 'Python'
 
# lambda returns a function object
print( lambda string:string)

In [ ]:
#program to find odd and even
calc = lambda num: "True" if num%2==0 else "False"
print(calc(5))

In [ ]:
#assignment
# program for enrolling students with details (take the details)
# storing in a txt file  (in external file)
# and retriving 

#file handling gfg

FILE

In [ ]:
#creating a txt file
file1=open("vin.txt","a")
file1.write("Hi ")
file1.close()

file1=open("vin.txt","r")
print(file1.read())
file1.close()

iter()  next()

In [ ]:
mytuple = ("alpha","beta","gamma")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

In [ ]:
tuple=("alpha","beta","gamma")
for x in mytuple:
    print(x)

In [ ]:
list1=[1,2,3,4]

iterator_obj=iter(list1)
next(iterator_obj)
next(iterator_obj)
print(next(iterator_obj))
print(next(iterator_obj))

In [ ]:
string1="Python"
Iter=iter(string1)
print(next(Iter))
print(next(Iter))
print(next(Iter))
print(next(Iter))
print(next(Iter))
print(next(Iter))

In [ ]:
string1="Python"
Iter=iter(string1)           
for i in Iter:
    if i=="y" or i=="o":
        print("skipped",i)
        continue
    print(i)

### Generators

In [ ]:
def gen1(a):
    for i in a:
        yield i*i*i
        
num=[1,2,3]
cube_num = gen1(num)

# accessing the reult in the generator object using for loop
for i in cube_num:
    print (i)

In [ ]:
def simpleGeneratorFun():
    yield 1
    yield 2
    yield 3

for value in simpleGeneratorFun():
    print(value)

In [ ]:
# generate 10 odd no's ,$  sum them all $ print the total sum
def gen():
    for i in range(0,20):
        if i % 2 != 0:
            yield i
            
def sum():
    s=0
    for val in gen():
        s= s + val
    print(s)

sum()

In [ ]:
#print 10 values which are divisible by 7
def gen():
    for i in range(1,71):
        if i % 7 == 0:
            yield i
            
            
def div():
    for val in gen():
        print(val)

div()

### CHAPTER 2
ADVANCED LIST,TUPLE,SET

In [ ]:
list = [1 ,2,3,10,20]
list.insert(4,15)
list

In [ ]:
list.pop()
list

In [ ]:
list.remove(2)
list

In [ ]:
list.append(8)
list

In [ ]:
list.reverse()
list

In [ ]:
list1=[1,2,100]
list1.sort(reverse=2)
list1

In [ ]:
list = [5,8,6,9,10,1,2,9]
list.sort()
list.reverse()
list

In [ ]:
#sort the list by length of the values
def myFun(e):
    return len(e) 

cars = ['Ford','Mitsubhishi','BMW','Mercedes-Benz']

cars.sort(key=myFun)

print(cars)

In [ ]:
#list comprehension

#  [x+1  for x in range(5) if x%2 == 2]

list1 = [ i for i in range(5) if i%2==0]
list1

In [ ]:
lis=[1,3,2,5,6,3]
# lis.index(3)
print(lis.count('3'))

In [ ]:
list=[]
for i in range(100):
    if i%2!=0:
        list.append(i)
        
print(list)

In [ ]:
odd_list = [i for i in range(100) if i%2 != 0]
print(odd_list)

#Assignment
# [print 6*6 matrix  using only odd numbers , with list comprehension ]

In [ ]:
fruits = 'Orange'
fruit_list =fruits.find('i')  # i is not present in fruits hence it is returning -1
fruit_list

In [ ]:
fruits = ['Orange','Banana','Mango','Grapes','Watermelon','peru']
# my_iter=iter(fruits)
# print(next(my_iter))
fruits_list= [i for i in fruits if i.find('a') != -1]    # the fruit without a is not displayed
print(fruits_list)

In [ ]:
fruits = ['Orange','Banana','Mango','Grapes','Watermelon','peru']
fruit_list= [i.upper() for i in fruits if i.count("Orange")>0]
print(fruit_list)

In [ ]:
matrix - [[j for j in range(1:70:2) ]if j%2!=0 i for i in range(6) ]
print(matrix)

In [ ]:
mat = []
for i in range(3):
    mat.append([])
    for j in range(5):
        j = 2*j + 1
        mat[i].append(j)
mat

In [ ]:
fruits = ["apple","banana","cherry","mango"]
newlist = []

for x in fruits:
    if "a" in x:                  # if a is present in x it prints those fruits name
        newlist.append(x)
        
print(newlist)

In [ ]:
fruits = ["apple","banana","cherry","mango"]
newlist = [x for x in fruits if "a" in x]
newlist

Understanding of tuples and differences  with python list

In [ ]:
Tuple1 = (1,[1,2,3,4],(5,6))
Tuple1[1].append(5)                  #list present in tuple can be edited
Tuple1[2]

In [ ]:
import sys
list = [1]
Tuple1 = (1,[1,2,3,4],(5,6))
print(sys.getsizeof(Tuple1),"Bytes")
print(sys.getsizeof(list),"Bytes")

In [ ]:
# a_list = list()
# a_tuple = tuple()
a_list = [1,2,3,4,5]
a_tuple = (1,2,3,4,5)
print(sys.getsizeof(a_list),"Bytes")
print(sys.getsizeof(a_tuple),"Bytes")

sets

In [ ]:
people = {"Jay","Ram","Sham"}
people.add("Daxit")
people

In [ ]:
d1 = {}
print(type(d1))

In [ ]:
d1 = {" "}
print(type(d1))

In [ ]:
d1 = {"3":1}
print(type(d1))

In [35]:
people = {1,-2,3,4}
print(people)
people.add(7)
people.add("Python")
people.add("Hello")           #sets are randomly arranged
people

{1, 3, 4, -2}

{-2, 1, 3, 4, 7, 'Hello', 'Python'}

union

In [38]:
people = {"Anu","Banu","Tanu","Sonu"}
vampires = {"Karan","Arjun"}
dracula = {"Deepanshu","Raju"}

population = people.union(vampires)
population = population.union(dracula)
population

{'Anu', 'Arjun', 'Banu', 'Deepanshu', 'Karan', 'Raju', 'Sonu', 'Tanu'}

In [41]:
#Union using "|" symbol
#"|" denotes union

population = people|dracula
print("\n Union using union() function")
population

 Union using union() function

{'Anu', 'Banu', 'Deepanshu', 'Raju', 'Sonu', 'Tanu'}

intersection

In [43]:
#prg on sets using intersection
set1 = set()
set2 = set()
for i in range(5):
    set1.add(i)

for i in range(3,9):
    set2.add(i)
    
set3 = set1.intersection(set2)   
set3

{3, 4}

In [48]:
print("Intersection using intersection() function")
print(set3)
# intersection using "&" operator
set3 = set1 & set2 & set3
 
print("\n Intersection using '&' operator")
print(set3)

Intersection using intersection() function
{8, 5, 6, 7}

 Intersection using '&' operator
set()

Difference

In [47]:
#prg on sets using difference
set1 = set()
set2 = set()
for i in range(5):
    set1.add(i)

for i in range(3,9):
    set2.add(i)
    
set3 = set1.difference(set2)   
print(set3)

set3 = set2.difference(set1)
print(set3) 

#difference of two sets using "-" operator
set3 = set2 - set1
print(set3)

{0, 1, 2}
{8, 5, 6, 7}
{8, 5, 6, 7}

clearing set

In [52]:
set1 ={1,2,3,4,5,6}
print("Initial set")
print(set1)

set1.clear()
print(set1)

Initial set
{1, 2, 3, 4, 5, 6}
set()