In [1]:
print("Hello python")

Hello python

$$
SETS
$$

In [3]:
s1=set("Python is on the World")
s2=set([1,2,3,3,3.5,'Python',4,4,5,6])
print(s1)
print(s2)

{'P', 'l', 't', 's', 'h', 'e', 'W', 'r', 'o', 'd', ' ', 'y', 'n', 'i'}
{1, 2, 3.5, 3, 4, 5, 6, 'Python'}

In [7]:
s1=set(["Python is on the World"])  #square brackets it considers as one
for i in s1:
    print(i)

Python is on the World

In [11]:
s1=set("Python is on the World")
j=1
for i in s1:
    print(j)
    print(i)
    j+=1

1
P
2
l
3
t
4
s
5
h
6
e
7
W
8
r
9
o
10
d
11

12
y
13
n
14
i

In [21]:
s1={10,2,3,"Python"}
print(type(s1))
for i in s1:
    print(i)

<class 'set'>
3
2
10
Python

In [4]:
s1={6,7,8}

s1.add(9)

for i in range(1,6):
    print(i)

print(s1)

1
2
3
4
5
{8, 9, 6, 7}

In [5]:
s1={10,2,3,"Python"}
print(type(s1))
s1.remove(10)
print(s1)

<class 'set'>
{3, 2, 'Python'}


$$$$
$$
DICTIONARIES
$$
$$

In [1]:
d1={1:100,2:200,3:3,"Phone":7019885903,10.5: "Rate"}
print(d1,d1,"Python",end='**',sep='$')

{1: 100, 2: 200, 3: 3, 'Phone': 7019885903, 10.5: 'Rate'}${1: 100, 2: 200, 3: 3, 'Phone': 7019885903, 10.5: 'Rate'}$Python**

In [5]:
d1={1:100,1024:200,"Name": "Python", "Name":"10", 1:400}  #updated value is printed
print(d1)

{1: 400, 1024: 200, 'Name': '10'}

In [17]:
d1={1:100, "Email":"keonicsx@gmail.com","List1":[1,2,4]}
print(d1)

{1: 100, 'Email': 'keonicsx@gmail.com', 'List1': [1, 2, 4]}

In [19]:
d1={1:100, "Email":"keonicsx@gmail.com","List1":[1,2,4]}
d2={}
d2[1]="First"
print(d2)

{1: 'First'}

In [23]:
dic={1:'A',2:'B',3:'C'}
print(dic)
del(dic[1])
print(dic)

del(dic)
print(dic)

{1: 'A', 2: 'B', 3: 'C'}
{2: 'B', 3: 'C'}

NameError: name 'dic' is not defined

$$
opertors
$$

In [2]:
name='Alex'
age=0

if name=="Alex" or name=="John"  and age>=2:
    print("Hello!Welcome")
else:
    print("Good BYe!")

Hello!Welcome

In [4]:
a=True
b=False
c=False

if True or False and True:
    print("Yes")
else:
    print("No")

Yes

In [5]:
5-2+3  #left to right associativity

2**3**2     #right to left

6

In [4]:
#loops nested if
if 100>20:
    if 40>30:
        print("inside nested if")
        if 300>40:
            print("inside nested if 2")
        else:
            print("inside nested else 2")
    else:
        print("inside nested else")

else:
    print("outside else")

inside nested if
inside nested if 2

In [5]:
l1=[1,2,3,4,5]     #for loop
for i in l1:
    print(i)

1
2
3
4
5

In [6]:
l1=[1,2,3,4,5]     #for loop
sum=0
for i in l1:
    print(i)
    sum+=i
print(sum)

1
2
3
4
5
15

In [8]:
list=(range(5))
print(list)

range(0, 5)

In [26]:
l1=[10,20,30,40,50,60]

for item in range(0,len(l1),2):
    print(l1[item])



# for item in range(len(l1)):
#     print(l1[item])

10
30
50

In [6]:
l1=[10,20,30,40,50,60]

for item in range(len(l1)-1,0,-1):
    print(l1[item])

# for item in range(len(l1)-1,0,-1):
#     print(item,l1[item],end='*',sep=' ,')

60
50
40
30
20
5 ,60*4 ,50*3 ,40*2 ,30*1 ,20*

In [9]:
mytuple=("apple","banana","cherry")
myit=iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [12]:
l1=[1,2,3,4,5,6]

myIterator=iter(l1)

print(next(myIterator))
print(next(myIterator))
print(next(myIterator))
print(next(myIterator))
print(next(myIterator))
print(next(myIterator))

1
2
3
4
5
6

$$
While Loop
$$

In [2]:
i=5
while i>0:
    print(i,end=',')
    i-=1

5,4,3,2,1,

Exit a loop with break

In [3]:
for i in range(10):
    print(i)
    if i==2:
        break
print("Outside loop")

0
1
2
Outside loop

In [ ]:
while True:                 #INFINITE LOOP [DO NOT EXECUTE]
    print(".")

In [5]:
i=5
while i>0:
    print("Inside")
    i=i-1
    if(i<3):
        print("Breaking loop")
        break
print("am outside")

Inside
Inside
Inside
Breaking loop
am outside

Continue

In [12]:
for i in range(10):
    if i==5 or i==6:
        print("skipped",i)
        continue
    print(i)

0
1
2
3
4
skipped 5
skipped 6
7
8
9

Function

In [2]:
def add(a):
    print("function called a=",a)

add(10)

function called a= 10

In [4]:
def add(a,b):
    print("function called a=",a,b)

add(10,20)

function called a= 10 20

In [6]:
def add(a,b):
    sum=a+b
    print("sum=",sum)

add(10,20)

sum= 30

In [7]:
def add(a,b):
    sum=a+b
    return sum

answer =add(10,30)
print("sum=",answer)

sum= 40

In [15]:
name=['A','B','C','D','E','F','G']
roll_no=[10,8,1,5,2,6,9]

zipped=zip(name,roll_no)
print(zipped)

# print(set(zipped))

# print(dict(zipped))

print(tuple(zipped))

<zip object at 0x0000028CE990C980>
(('A', 10), ('B', 8), ('C', 1), ('D', 5), ('E', 2), ('F', 6), ('G', 9))

In [18]:
name=["vinaya","harish","supriya","huli"]
roll_no=[3,5,2,6]

mapped=zip(name,roll_no)

# print(set(mapped))

print(dict(mapped))

{'vinaya': 3, 'harish': 5, 'supriya': 2, 'huli': 6}

$$
sqrt
$$

In [11]:
#square root
import math

def computer_sqrt(n): 
    result=math.sqrt(n)
    print(result)

computer_sqrt(4)  
computer_sqrt(9) 
computer_sqrt(3)  
computer_sqrt(2)

2.0
3.0
1.7320508075688772
1.4142135623730951

In [1]:
import math

def computer_sqrt(n): 
    result=math.sqrt(n)
    return result

ans=computer_sqrt(3)
print(ans)

1.7320508075688772

Enumerate

In [1]:
l1=['A','B','C']
obj1=enumerate(l1)
print(list(obj1))

[(0, 'A'), (1, 'B'), (2, 'C')]

In [1]:
def cube_function(n):
    ans = n*n*n
    return ans
cube_function(2)

8

lambda function

In [6]:
var = lambda a: a+10
print(var(2))


def add(a):
    return a+10

print(add(2))

12
12

In [8]:
var = lambda a: a>10
print(var(2))

False

In [9]:
calc = lambda num: "Even number" if num%2==0 else "odd number"
print(calc(10))

Even number

In [10]:
var = lambda:10+20   
var()

30

In [17]:
var1=lambda n: n*n    #2*2
var2=lambda n: n*n*n    #4*4*4

ans=var1(2)            #ans=4
print(ans)             #print value 4 
print(var2(ans))       #var(4)=4*4*4

def call_func():
    ans = var1(2)+1           #ans=4+1
    result = var2(4)+ans      #result=(4*4*4)+1=69
    print("From User def:",result)
    
call_func()

4
64
From User def: 69

In [23]:
string = 'Python'
 
# lambda returns a function object
print( lambda string:string)

<function <lambda> at 0x00000214B64D4FE0>

In [26]:
#program to find odd and even
calc = lambda num: "True" if num%2==0 else "False"
print(calc(5))

False

In [ ]:
#assignment
# program for enrolling students with details (take the details)
# storing in a txt file  (in external file)
# and retriving 

#file handling gfg

FILE

In [22]:
#creating a txt file
file1=open("vin.txt","a")
file1.write("Hi ")
file1.close()

file1=open("vin.txt","r")
print(file1.read())
file1.close()

 Hi Hi

iter()  next()

In [29]:
mytuple = ("alpha","beta","gamma")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

alpha
beta
gamma

In [30]:
tuple=("alpha","beta","gamma")
for x in mytuple:
    print(x)

alpha
beta
gamma

In [35]:
list1=[1,2,3,4]

iterator_obj=iter(list1)
next(iterator_obj)
next(iterator_obj)
print(next(iterator_obj))
print(next(iterator_obj))

3
4

In [44]:
string1="Python"
Iter=iter(string1)
print(next(Iter))
print(next(Iter))
print(next(Iter))
print(next(Iter))
print(next(Iter))
print(next(Iter))

P
y
t
h
o
n

In [61]:
string1="Python"
Iter=iter(string1)           
for i in Iter:
    if i=="y" or i=="o":
        print("skipped",i)
        continue
    print(i)

P
skipped y
t
h
skipped o
n

Generators